nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: goldenrod;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    margin-left: 50px;
}

.nav_list{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    cursor: pointer;
    gap: 50px;
}

.nav_list li{
    text-decoration: none;
}
